<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer-sidenav" mode="side">
        <app-side-nav (sidnavClose)="drawer.close()"></app-side-nav>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
        <!-- Header-->
        <app-header (sidenavToggle)="drawer.toggle()"></app-header>
        <!-- Main Contents-->
        <router-outlet></router-outlet>
        <!-- Footer-->
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>